.app {
    width: 90%;
    max-width: 1280px;
    margin: 0px auto;
    padding: 0 16px 16px;
    flex: 1;
}

.toolbar {
    margin-bottom: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0;
    background-color: #f8f9fa;
    border-bottom: 1px solid #dee2e6;
}

.isLoading {
    display: block;
    align-items: center;
    padding: 0 20px 20px 0;
    font-size: 18px;
    color: #0d6efd;
    max-width: 300px;
}

.isError {
    display: block;
    align-items: center;
    padding: 0 20px 20px 0;
    font-size: 18px;
    color: #fe4040;
    max-width: 300px;
}